@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body { /*Fazer com que o conteúdo ocupe a tela toda*/
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}


main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Até aqui centralização da caixa do telefone (Possível fazer com flexbox)*/
    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px; /*Dimensões para o iframe caber na tela do telefone*/
}

section#redes-sociais {
    text-align: right; /*Funciona mesmo que não tenha texto*/
    padding-top: 15px;
    padding-right: 10px;
}

section#redes-sociais img {
    width: 50px; /*Diminui automaticamente na proporção*/
    margin: 10px;
    border-radius: 50%; /*Botões redondos*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box; /*Borda do hover não muda a posição dos outros botões (funciona de maneira independente)*/
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.6); /*Borda quando passa o mouse por cima*/
    transform: translate(-2px,-2px); /*Translada o botão e dá uma impressão de que o botão levanta*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400); /*Mudança da sombra com o translado*/
    transition: transform 0.3s; /*Suaviza o translado*/
}